
body {
    background-color: #152F5B;}
T {
    color: white}
T{ 
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
little {
    color: #CFAC62}

little {
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;



}
h1{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white
}
h2{font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#CFAC62}

a2{font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#CFAC62}

.center {
    text-align: center;
}

PaysageB{opacity: 0.2;

}
#menu-vertical, #menu-vertical ul {
    padding:0;
    margin:0;
    list-style:none;
    width: 180px; /* seule ligne rajoutée */
  }
  #menu-vertical li {
    position: relative;
    background:#0F2439; /* juste pour cacher le texte de la page en-dessous */
  }
  #menu-vertical a {
    display:block;
    text-decoration: none;
    color: #CFAC62;
  }

  #menu-vertical ul {
    position: absolute;
    left:-999em;
  }

  #menu-vertical li:hover ul {
    top: 0;
    left: 180px;
  }
.container {
    position: relative;
    text-align: center;
    color: white;
  }
   
  /* Centered text */
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
ft{ 
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#CFAC62;
} 

ff{ 
    font-size: 18px;
    font-family: 'Trebuchet MS', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fffffe;
} 
article {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#CFAC62;
}
a{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#ffffff;
}
N{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffffff}
    
textarticle{font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffffff}

fr{
    font-size: 13px;
    font-family: 'Trebuchet MS', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;}

but{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#CFAC62;}

footer{background-color: #0F2439;}