.menu {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 217vw;
    background: #161029;
    display: grid;
    place-content: center;
    font-size: 18px;
    z-index: 9;
    }
  .header_menuBtn {
    position: relative;
    z-index: 10;
    display: block;
    height: 10vw;
    width: 10vw;
    background-color: #fafafa;
    }

  footer {
    background-color: #0F2439;
    color: #ffffff;
    position: end;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    }
  .logommi {
      width: 15vw;
      display: block;
      float: right;
    }
  .mentions {
      text-align: center;
    }
  .contacter {
      text-align: center;
    }
  .insta {
      width: 10vw;
      display: inline-block;
      position: relative;
      left: 25%;
    }
  .twitter {
      width: 10vw;
      display: inline-block;
      position: relative;
      left: 33%;
    }
  .linkedin {
      width: 10vw;
      display: inline-block;
      position: relative;
      left: 40%;
    }
    .ligneblanche {
      width: 300px;
      justify-content: center;
      margin: auto;
    }


    h4{ font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:#ffffff;
    }

    .mentions{font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#CFAC62}

    .contacter{font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#CFAC62}
    .trait{color:#CFAC62;
    text-align: center;}